<div class="user-show-wrapper">
  <div class="container">
    <h1 class="text-center text-white">Profile</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <div class='user-infos'>
          <%= image_tag @user.user_image.url, class: 'user-icon' %>
          <div class='user-info'>
            <p class='user-name'>
              <%= @user.name %>
            </p>
            <%= simple_format(@user.user_bio, class: 'user-bio') %>
            
            <% if @user.id == current_user.id %>
              <%= link_to edit_user_path(id: @user.id) do %>
                <p class = 'user-edit'>edit</p>
              <% end %>
            <% end %>
          </div>
        </div>
        
        <div class='user-topics'>
          <ul class='topic-tab'>
            <li>
              <%= link_to user_path(id: @user.id) do %>
                <%= image_tag 'icons/photo.png', class: 'tab-icon' %>
              <% end %>
            </li>
            <li class='active'>
              <%= link_to user_favorites_path(user_id: @user.id) do %>
                <%= image_tag 'icons/heart.png', class: 'tab-icon' %>
              <% end %>
            </li>
          </ul>
          
          <% @topics.each do |topic| %>
            <div class='topic-index-single col-md-4'>
              <%= image_tag topic.image.url, class: 'topic-img' %>
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>